Name: <%= @product.title %>
<br>
Description: <%= @product.description %>
<br>
Price: $<%= @product.price %> ||
Sale Price: $<%= @product.sale_price %>

<br>

    <% if @favourite.present? && @favourite.persisted? %>
      <%= link_to "Un-Fav", product_favourite_path(@product, @favourite), method: :delete %>
    <% else %>
      <%= link_to "Favourite", product_favourites_path(@product), method: :product %>
    <% end %>

<br>

<%= link_to "Edit", edit_product_path(@product) %>
<%= link_to "Delete", product_path(@product),
    method: :delete, data: {confirm: "Are you sure?"} %>
<hr>
<%= notice || alert %>

<h3> Write A Review: </h3>
<div id="review-form">
 <%= render "/reviews/form", review: @review %>
</div>

<h2> Reviews: </h2>
<div id="reviews">
  <% @product.reviews.each do |rev| %>
    <%= render "/reviews/review", review: rev, like: @like %>
  <% end  %>
</div>

<div id="product-review-like">

</div>
