<div id="<%= dom_id(review) %>" style="<%= style if defined?(style) %>">
  <% @counter = 0 %>
    Review <%= @counter += 1 %> : <%= review.body %> <br> Rating: <%= review.stars %>
    <%= button_to "Delete Review", [@product, review],
                    method: :delete,
                    remote: true,
                    data: {confirm: "u sure bruv?"} %>
</div>
<br>
<%= render "likes/review_like", review: review %>
