<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Product Index", products_path %> ||
  <%= link_to "New Product", new_product_path %> ||

  <% if user_signed_in? %>
  Whaddup, Whaddup <%= current_user.first_name.titleize %>!
  <%= link_to "Logout", sessions_path, method: :delete,
            data: {confirm: "are you sure u log out?"}%>
  <% else %>
    <%= link_to "Login", new_session_path %> |
    <%= link_to "Sign Up", new_user_path %>
  <% end %>


  <hr>
<%= yield %>

</body>
</html>
